doctype html
html
	head
		link(rel='stylesheet' type='text/css' href='stylesheets/home.css')
	body
		textarea(id='signal' placeholder='My signal')
		br
		button(id='btn') OK
		video(id='local-video' controls)

		input(type="file" accept="image/*" capture="camera")

		script(src='javascripts/bundle.js')
		//- script(src='javascripts/home.js')